NODE_ENV=development
PORT=8011
API_PREFIX=notification-service/v1

DATABASE_URL=postgresql://notif_user:password@localhost:5432/notif_db

REDIS_HOST=localhost
REDIS_PORT=6382
REDIS_PASSWORD=

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=al_mizan_events

RABBITMQ_NOTIF_QUEUE=notification_queue
RABBITMQ_NOTIF_AO_QUEUE=notification_ao_queue
RABBITMQ_NOTIF_SOUMISSION_QUEUE=notification_soumission_queue
RABBITMQ_NOTIF_EVALUATION_QUEUE=notification_evaluation_queue
RABBITMQ_NOTIF_ATTRIBUTION_QUEUE=notification_attribution_queue
RABBITMQ_NOTIF_RECOURS_QUEUE=notification_recours_queue
RABBITMQ_NOTIF_IA_QUEUE=notification_ia_queue
RABBITMQ_NOTIF_AUTH_QUEUE=notification_auth_queue

THROTTLE_TTL=60
THROTTLE_LIMIT=100

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_NAME=Al-Mizan
SMTP_FROM_EMAIL=notifications@almizan.dz

EMAIL_FAIL_OPEN=true


